<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    {{block name="headKeywords"}}
        <meta name="keywords" content="Weyburn, Weyburn's Blog">
    {{/block}}
    {{block name="headDescription"}}
        <meta name="description" content="个人博客, 技术博客, 前端学习总结">
    {{/block}}
    <meta name="apple-mobile-web-app-title" content="Weyburn">
    <meta name="application-name" content="Weyburn's Blog">

    <link rel="shortcut icon" href="/assets/images/head-pic.jpg">

    <title>
        {{block name="headTitle"}}{{/block}}
        {{$Request.path != '/' ? '-' : null}}
        Weyburn's Blog
    </title>

    {{if condition="isset($_gStaticFiles['styles'])"}}
        {{foreach $_gStaticFiles['styles'] as $style}}
            <link rel="stylesheet" href="{{$style}}">
        {{/foreach}}
    {{/if}}
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/black/pace-theme-minimal.css" rel="stylesheet">
    {{block name="headAssets"}}{{/block}}
</head>




<body class="page page--{{block name='moduleName'}}{{/block}} page--{{block name='moduleName'}}{{/block}}-{{block name='pageName'}}{{/block}}
      {{block name='bodyClassExt'}}{{/block}}"
      id="page--{{block name='moduleName'}}{{/block}}-{{block name='pageName'}}{{/block}}"
      data-module-name="{{block name='moduleName'}}{{/block}}"
      data-page-name="{{block name='pageName'}}{{/block}}"
      data-base-url="{{$Request.root.true}}"
      data-current-url="{{$Request.root.true}}/{{$Request.path}}">
<div id="wrapper">
    <div id="header">
        {{block name="layoutHeader"}}
            <div id="topbar">
                <div class="title">
                    <h1><a href="{{$Request.root.true}}">Weyburn's Blog</a></h1>
                    <p>Quick Notes</p>
                    <button class="nav-toggle" type="button">
                        <i class="nav-toggle-icon"></i>
                    </button>
                </div>
                <div class="nav">
                    <a class="nav-item {{$Request.controller == 'Index' ? 'active' : ''}}"
                       href="{{$Request.root.true}}">
                        <i class="fi fi-home-b"></i>
                        <span>首页</span>
                    </a>
                    <a class="nav-item {{$Request.controller == 'Archive' ? 'active' : ''}}"
                       href="{{$Request.root.true}}/archive">
                        <i class="fi fi-archive-b"></i>
                        <span>归档</span>
                    </a>
                    <a class="nav-item {{$Request.controller == 'Category' ? 'active' : ''}}"
                       href="{{$Request.root.true}}/category">
                        <i class="fi fi-category-b"></i>
                        <span>分类</span>
                    </a>
                    <a class="nav-item {{$Request.controller == 'Tag' ? 'active' : ''}}"
                       href="{{$Request.root.true}}/tag">
                        <i class="fi fi-tags-b"></i>
                        <span>标签</span>
                    </a>
                    <a class="nav-item {{$Request.controller == 'About' ? 'active' : ''}}"
                       href="{{$Request.root.true}}/about">
                        <i class="fi fi-user-b"></i>
                        <span>关于</span>
                    </a>
                </div>
            </div>
            <div id="overview">
                <div class="profile">
                    <a class="profile-avatar" href="{{$Request.root.true}}">
                        <img src="/assets/images/head-pic.jpg" alt="head-pic">
                    </a>
                    <h2 class="profile-name">Weyburn</h2>
                    <p class="profile-motto">Less is more.</p>
                </div>
                <div class="sub_nav">
                    <ul class="sub_nav-menu">
                        <li class="sub_nav-item">
                            <a class="sub_nav-link" href="{{$Request.root.true}}/archive">
                                <span class="count">{{$count['postCount']}}</span><br>
                                <span>文章</span>
                            </a>
                        </li>
                        <li class="sub_nav-item">
                            <a class="sub_nav-link" href="{{$Request.root.true}}/category">
                                <span class="count">{{$count['categoryCount']}}</span><br>
                                <span>分类</span>
                            </a>
                        </li>
                        <li class="sub_nav-item">
                            <a class="sub_nav-link" href="{{$Request.root.true}}/tag">
                                <span class="count">{{$count['tagCount']}}</span><br>
                                <span>标签</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="social">
                    <a class="social-item" href="https://github.com/weyburn" title="GitHub">
                        <i class="fi fi-github"></i>
                        <span>GitHub</span>
                    </a>
                    <a class="social-item"  href="https://coding.net/u/weyburn" title="Coding">
                        <i class="fi fi-coding"></i>
                        <span>Coding</span>
                    </a>
                    <a class="social-item"  href="https://weibo.com/u/3972842697" title="weibo">
                        <i class="fi fi-weibo"></i>
                        <span>weibo</span>
                    </a>
                    <a class="social-item"  href="mailto:weyburn@126.com" title="email">
                        <i class="fi fi-email"></i>
                        <span>email</span>
                    </a>
                </div>
            </div>
        {{/block}}
    </div>
    <div id="main">
        {{block name="layoutMain"}}
            <div class="main-inner">
                {{block name="mainInner"}}{{/block}}
            </div>
        {{/block}}
    </div>
    <div id="footer">
        {{block name="layoutFooter"}}
            <div class="copyright">&copy; 2018 Weyburn</div>
        {{/block}}
    </div>
</div>

<div id="back-to-top">
    <i class="fi fi-arrow-up"></i>
    <span class="percent"></span>
</div>


{{if condition="isset($_gStaticFiles['scripts'])"}}
    {{foreach $_gStaticFiles['scripts'] as $script}}
        <script src="{{$script}}"></script>
    {{/foreach}}
{{/if}}
<script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
{{block name="bodyAssets"}}{{/block}}
</body>
</html>


