.page--post-show {
    .posts {
        padding-top: 40px;
        @media (max-width: 767px) {
            padding: 40px 20px 0;
        }
    }
    .post {
        animation: .5s fadeInDown .75s both;
    }
    .post-header {
        margin-bottom: 60px;
        text-align: center;
        .title {
            font-size: 1.75rem;
            font-weight: 400;
            word-break: break-all;
            @media (max-width: 767px) {
                font-size: 1.5rem;
            }
        }
        .meta {
            font-size: .75rem;
            color: #888;
        }
        .meta-item {
            padding: 0 4px;
            i {
                font-size: inherit;
                margin: 0 4px;
            }
            &.comment {
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
        .meta-item + .meta-item::before {
            content: "|";
        }
        .meta-item-explain {
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
    .post-body {
        text-align: justify;
        line-height: 2;
        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            margin-bottom: 1rem;
        }
        h2 {
            font-size: 1.375rem;
        }
        h3 {
            font-size: 1.25rem;
        }
        h4 {
            font-size: 1.125rem;
        }
        h5 {
            font-size: 1rem;
        }
        h6 {
            font-size: .875rem;
        }
        .blockquote {
            border-left: 3px solid #ccc;
            padding: 12px 16px;
            margin-top: 40px;
            background-color: #f9f9f9;
            font-size: .875rem;
        }
        p, figure, ul,ol,dl {
            font-size: .875rem;
            font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;;
        }
        ul {
            list-style: circle;
        }
        figure {
            img {
                width: 100%;
            }
            figcaption {
                font-weight: 600;
                text-align: center;
                color: #888;
            }
        }
        a:not(.link) {
            border-bottom: 1px solid #888;
            padding-bottom: 1px;
            word-break: break-all;
            word-wrap: break-word;
            &:hover {
                border-color: #222;
            }
        }
    }
    .post-footer {
        margin: 60px auto 20px;
    }
    .post-tag {
        text-align: center;
        margin-bottom: 20px;
        font-size: .875rem;
        a {
            display: inline-block;
            border-bottom: 1px dotted #888;
            padding: 4px;
            margin: 4px 8px;
            word-wrap: break-word;
            i {
                font-size: inherit;
                margin-right: 4px;
            }
            &:hover {
                border-color: #222;
            }
        }
    }
    .post-nav {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ddd;
        padding: 8px 0;
        width: 100%;
        font-size: .875rem;
        .post-nav-item {
            position: relative;
            width: 45%;
            line-height: 28px;
            i {
                position: absolute;
                top: 0;
                width: 14px;
                height: 28px;
                font-size: inherit;
            }
        }
        .post-nav-prev {
            padding-left: 14px;
            text-align: left;
            i {
                left: 0;
            }
        }
        .post-nav-next {
            padding-right: 14px;
            text-align: right;
            i {
                right: 0;
            }
        }
    }
}
