.page--archive-index {
    .archive {
        padding-top: 40px;
        @media (max-width: 767px) {
            padding: 40px 20px 0;
        }
    }
    .archive-header {
        text-align: center;
        margin-bottom: 20px;
        animation: .5s fadeInDown .25s both;
        .title {
            font-size: 1.75rem;
            font-weight: 400;
            @media (max-width: 767px) {
                font-size: 1.5rem;
            }
        }
        .total {
            font-size: .8rem;
            color: #888;
            margin-bottom: 0;
        }
    }
    .archive-list {
        margin-left: 40px;
        position: relative;
        font-family: "Microsoft YaHei", Arial, sans-serif;
        @media (max-width: 767px) {
            margin-left: 20px;
        }
        &:before {
            position: absolute;
            content: '';
            width: 4px;
            height: 100%;
            background: #eee;
            top: 16px;
            left: -4px;
        }
        dt {
            padding-left: 20px;
            margin: 60px 0;
            position: relative;
            line-height: 32px;
            &:first-child {
                margin-top: 0;
            }
            &:before {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background: #888;
                border-radius: 50%;
                top: 12px;
                left: -6px;
            }
            .year {
                font-size: 1.25rem;
                font-weight: bold;
                line-height: inherit;
                margin-bottom: 0;
                animation: .5s fadeInLeft .25s both;
                @media (max-width: 767px) {
                    font-size: 1rem;
                }
            }
        }
        dd {
            margin: 30px 0;
            border-bottom: 1px #888 dashed;
            line-height: 32px;
            padding-left: 60px;
            position: relative;
            animation: 1s fadeInDown .5s both;
            @media (max-width: 767px) {
                font-size: .875rem;
            }
            &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                background: #888;
                border-radius: 50%;
                top: 13px;
                left: -5px;
            }
            &:hover {
                border-color: #222;
            }
            &:hover:before {
                background: #222;
            }
            .date {
                position: absolute;
                left: 20px;
                font-size: .8rem;
                line-height: 32px;
                height: 32px;
            }
        }
    }
}
